body {
  background: #333;
  color: #fff; }

.navbar {
  border-bottom: 3px solid #008ed6;
  opacity: 0.8; }

#home-section {
  background: url("../img/home.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px; }
  #home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px; }
  #home-section .home-inner {
    padding: 150px; }
  #home-section .card-form {
    opacity: 0.8; }
  #home-section .fa {
    color: #008ed6;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px; }

#explore-section .fa,
#share-section .fa {
  color: #fff;
  background: #333;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px; }

#create-section .fa {
  color: #008ed6;
  background: #fff;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px; }

@media (max-width: 600px) {
  .card-respond {
    width: 342px;
    margin: auto;
    position: relative;
    left: -130px;
    top: 0; } }
